.header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  margin-bottom: 10px;
}

.header__title {
  color: #333;
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}

.header__title.active {
  display: none;
}

.button__menu {
  outline: none;
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}
.button__menu span {
  display: flex;
  width: 16px;
  height: 2px;
  background-color: rgb(208, 201, 217);
}
.button__menu:before {
  content: "";
  position: absolute;
  display: flex;
  width: 16px;
  height: 2px;
  background-color: rgb(208, 201, 217);
  bottom: 14px;
}
.button__menu:after {
  content: "";
  position: absolute;
  display: flex;
  width: 16px;
  height: 2px;
  background-color: rgb(208, 201, 217);
  top: 14px;
}
.button__menu:hover {
  background: blue;
  cursor: pointer;
}
.button__menu:focus {
  background-color: blue;
}
.button__menu:active {
  opacity: 0.6;
}

.button__menu.active span {
  transform: scale(0);
}

.button__menu.active:before {
  transform: rotate(-45deg);
  top: 50%;
}

.button__menu.active:after {
  transform: rotate(45deg);
  top: 50%;
}

.btn__leng {
  width: 48px;
  height: 24px;
  border: none;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
}
.btn__leng:after {
  content: url("../img/arrow down.svg");
}

.header__img {
  margin-right: 18px;
}

.header__wrp_left {
  display: flex;
  align-items: center;
}

.header__wrp_right {
  display: none;
  align-items: center;
}

.header__wrp_right.active {
  display: flex;
}

@media (min-width: 640px) {
  .button__menu {
    display: none;
  }
  .header {
    padding: 11px 20px;
  }
  h1 {
    line-height: 26px;
  }
  .header__wrp_right {
    display: flex;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.left-block {
  display: flex;
  padding: 10px 10px 30px 10px;
  flex-direction: column;
  border-radius: 16px;
  background: #F9F8FA;
  margin: 58px 10px 10px 10px;
}

.search {
  appearance: none;
  outline: none;
  width: 100%;
  display: flex;
  height: 48px;
  align-items: flex-start;
  gap: 8px;
  padding: 12px 48px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 2px solid #E5E5E5;
  background: url(../img/Search.svg) 16px center no-repeat #FFF;
  margin-bottom: 20px;
}
.search::placeholder {
  color: #737070;
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.search:hover {
  cursor: pointer;
  border: 2px solid blue;
}
.search:focus {
  border: 2px solid blue;
}

.select-marg {
  margin-bottom: 20px;
}

.select__title {
  color: var(--new-text-grey, #737070);
  font-family: e-Ukraine;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 153.846% */
  margin-bottom: 8px;
}

.select {
  appearance: none;
  border-radius: 30px;
  border: 2px solid var(--new-bg-light-grey-2, #E5E5E5);
  background: #FFF;
  outline: none;
  width: 100%;
  height: 48px;
  padding: 12px 40px 12px 16px;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--new-text-black, #333);
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.select:hover {
  border: 2px solid blue;
}
.select:focus {
  border: 2px solid blue;
}

.select_wrp {
  position: relative;
}
.select_wrp:after {
  content: url("../img/arrow down.svg");
  position: absolute;
  top: 12px;
  right: 16px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.select__up {
  margin-bottom: 12px;
  position: relative;
}
.select__up:before {
  content: "from";
  position: absolute;
  left: 16px;
  top: 12px;
  color: rgba(52, 0, 115, 0.5);
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.select_pad {
  padding-left: 58px;
}

.select__down {
  position: relative;
  margin-bottom: 20px;
}
.select__down:before {
  content: "to";
  position: absolute;
  left: 16px;
  top: 12px;
  color: rgba(52, 0, 115, 0.5);
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.select-interval p {
  text-align: center;
  color: #333;
  font-family: e-Ukraine;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  margin-bottom: 12px;
}
.select-interval p span {
  color: #340073;
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
}

.interval::placeholder {
  text-align: end;
  color: #737070;
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.filter {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.filter__btn {
  border: none;
  background-color: transparent;
  color: #340073;
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
}

.filter__btn__hide {
  display: flex;
  align-items: center;
}
.filter__btn__hide:after {
  content: url("../img/arow-up-blue.svg");
  margin-left: 6px;
}

.filter__btn__hide.active {
  display: none;
}

.hide-space.active {
  display: none;
}

.filter__btn__show {
  display: none;
  align-items: center;
}
.filter__btn__show:after {
  content: url("../img/arrow-down-blue.svg");
  margin-left: 6px;
}

.filter__btn__show.active {
  display: flex;
}

.apply {
  appearance: none;
  outline: none;
  width: 100%;
  padding: 16px 24px;
  display: flex;
  box-sizing: border-box;
  border: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%);
  color: var(--white, #FFF);
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  margin-bottom: 24px;
}
.apply:hover {
  cursor: pointer;
  border: 2px solid #6900E9;
  padding: 14px 22px;
  box-sizing: border-box;
}
.apply:focus {
  border: 2px solid #6900E9;
  padding: 14px 22px;
  box-sizing: border-box;
}
.apply:active {
  opacity: 0.7;
}

.reset-wrp {
  display: flex;
  justify-content: center;
}

.reset {
  display: flex;
  outline: none;
  align-items: center;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--new-dark-purple, #340073);
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
}
.reset:before {
  content: url("../img/reset.svg");
}
.reset:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
.reset:focus {
  text-decoration-line: underline;
}
.reset:active {
  opacity: 0.7;
}

.simulator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 192px 15px;
  margin: 10px;
  border-radius: 16px;
  background: #F9F8FA;
  position: fixed;
  top: -100%;
  transition: all 0.5s;
}
.simulator .simulator__title {
  color: var(--new-text-black, #333);
  text-align: center;
  font-family: e-Ukraine;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 166.667% */
  margin-bottom: 20px;
}
.simulator .blue__button {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid #6900EA;
  background-color: transparent;
  color: #6900EA;
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
}

.simulator.active {
  top: 48px;
}

.right-block {
  padding: 10px 10px 20px;
  margin: 0 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #F9F8FA;
}

.auctions-quantity {
  color: var(--new-text-black, #333);
  font-family: e-Ukraine;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 153.846% */
  margin: 10px 0;
}

.auction {
  margin: 20px 0;
}

.auction__bkg {
  background: linear-gradient(90deg, rgba(245, 239, 255, 0.34) 0.67%, rgba(237, 236, 240, 0.34) 99.07%);
}

.auction__title {
  color: var(--new-text-black, #333);
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  margin-bottom: 4px;
}

.auction__id {
  color: var(--new-dark-purple, #340073);
  font-family: e-Ukraine;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
  text-decoration-line: underline;
  margin-bottom: 14px;
}
.auction__id:after {
  content: url("../img/id-img.svg");
  margin-left: 6px;
}

.auction__type {
  color: var(--new-dark-purple, #340073);
  font-family: e-Ukraine;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.auction__prescription {
  display: flex;
}

.auction-prescription__left {
  color: #737070;
  font-family: e-Ukraine;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 153.846% */
  margin-right: 12px;
}
.auction-prescription__left p {
  margin-bottom: 8px;
}

.auction__prescription__right {
  color: #333;
  font-family: e-Ukraine;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 153.846% */
}
.auction__prescription__right p {
  margin-bottom: 8px;
}
.auction__prescription__right p span {
  color: #737070;
}

.more-actions {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid #6900EA;
  background-color: transparent;
  color: #6900EA;
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.peges__item {
  width: 48px;
  height: 48px;
  margin: 0 4px 5px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  border-radius: 15px;
  color: #333;
  text-align: center;
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.peges__item:hover {
  border: 2px solid blue;
  cursor: pointer;
}
.peges__item:focus {
  border: 2px solid blue;
}

body {
  background-image: linear-gradient(140deg, #340073 -0.39%, #422504 100.04%);
}

/*# sourceMappingURL=style.css.map */
