
.left-block {
    display: flex;
    padding: 10px 10px 30px 10px;
    flex-direction: column;
    border-radius: 16px;
    background: $new-bg-light-grey;
    margin: 58px 10px 10px 10px;
}

.search__title {
    display: none;
}

.search {
    appearance: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 12px 48px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid #E5E5E5;
    margin-bottom: 20px;

    &__wrp {
        position: relative;
    
        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            background: url(../img/Search.svg);
            width: 24px;
            height: 24px;
            bottom: 12px;
            left: 16px;
        } 
    }

    &::placeholder {
        color: #737070;
        font-family: e-Ukraine;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    &:hover {
        cursor: pointer;
        border-radius: 30px;
        border: 2px solid transparent;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%) border-box;
    }

    &:focus {
        border-radius: 30px;
        border: 2px solid transparent;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%) border-box;
    }
}

.select-marg {
    margin-bottom: 20px;
}

.select__title {
    color: var(--new-text-grey, #737070);
    font-family: e-Ukraine;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 153.846% */
    margin-bottom: 8px;
}

.select {
    appearance: none;
    border-radius: 30px;
    border: 2px solid var(--new-bg-light-grey-2, #E5E5E5);
    background: #FFF;
    outline: none;
    width: 100%;
    padding: 12px 12px 12px 16px;
    cursor: pointer;
    box-sizing:border-box;
    color: var(--new-text-black, #333);
    font-family: e-Ukraine;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */;

    &:hover,
    &:focus {
        border-radius: 30px;
        border: 2px solid transparent;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%) border-box;
    }
}

.dash {
    display: none;
}

.date::-webkit-calendar-picker-indicator {
    display: none;
}

.select_wrp {
    position: relative;

    &:after {
        content: url("../img/arrow down.svg");
        position: absolute;
        top: 15px;
        right: 16px;
        width: 24px;
        height: 24px;
        pointer-events: none;
    }
}

.select__up {
    margin-bottom: 12px;
    position: relative;

    &:before {
        content: "from";
        position: absolute;
        left: 16px;
        top: 15px;
        color:rgba(52, 0, 115, 0.50);
        font-family: e-Ukraine;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }
}

.select_pad {
    padding-left: 58px;
}

.select__down {
    position: relative;
    margin-bottom: 20px;

    &:before {
        content: "to";
        position: absolute;
        left: 16px;
        top: 12px;
        color:rgba(52, 0, 115, 0.50);
        font-family: e-Ukraine;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }
}

.select-text {
    text-align: center;
    color: #333;
    font-family: e-Ukraine;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    margin-bottom: 12px;

    span {
        color: #340073;
        font-family: e-Ukraine;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        text-decoration-line: underline;
    }
}


.interval {
    &::placeholder {
        text-align: end;
        color:#737070;
        font-family: e-Ukraine;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }
}

.filter {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.filter__btn {
    border: none;
    background-color: transparent;
    color: #340073;
    font-family: e-Ukraine;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-decoration-line: underline;
    outline: none;

    &:hover,
    &:focus {
        border: 2px solid transparent;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%) border-box;
    }
}

.filter__btn__hide {
    display: flex;
    align-items:center;

    &:after {
        content: url("../img/arow-up-blue.svg");
        margin-left: 6px;
    }
}

.filter__btn__hide.active {
    display: none;
}

.hide-space.active {
    display: none;
}

.filter__btn__show {
    display: none;
    align-items:center;

    &:after {
        content: url("../img/arrow-down-blue.svg");
        margin-left: 6px;
    }
}

.filter__btn__show.active {
    display: flex;
}

.apply{
    appearance: none;
    outline: none;
    width: 100%;
    padding: 16px 24px;
    display: flex;
    box-sizing: border-box;
    border:none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%);
    color: var(--white, #FFF);
    font-family: e-Ukraine;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;
    margin-bottom: 24px;

    &:hover {
        cursor: pointer;
        border: 2px solid #6900E9;
        padding: 14px 22px;
        box-sizing:border-box;
    }

    &:focus {
        border: 2px solid #6900E9;
        padding: 14px 22px;
        box-sizing:border-box;
    }

    &:active {
        opacity: 0.7;
    }
}

.reset-wrp {
    display: flex;
    justify-content: center;
}

.reset{
    display: flex;
    outline: none;
    align-items:center;
    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--new-dark-purple, #340073);
    font-family: e-Ukraine;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;

    &:before {
        content: url("../img/reset.svg");
    }

    &:hover {
        cursor: pointer;
        border: 2px solid transparent;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%) border-box;
    }

    &:focus {
        border: 2px solid transparent;
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(87deg, #6900E9 9.31%, #E5275F 49.66%, #F68A29 89.49%) border-box;
    }

    &:active {
        opacity: 0.7;
    }
}

@media (min-width: 360px) {
    .left-block {
        padding: 20px 20px 40px 20px;
    }
}

@media (min-width: 640px) {
    .left-block {
        padding: 20px;
        margin: 68px 20px 20px 20px;
    }

    .search{
        margin-bottom: 24px;

        &__title {
            display: block;
            color: var(--new-text-black, #333);
            font-family: e-Ukraine;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px; /* 133.333% */
            text-transform: uppercase;
            margin-bottom: 24px;
        }   
    }

    .select-marg {
        margin-bottom: 24px;
    }

    .select-interval {
        p {
            text-align: start;
            color: var(--new-text-grey, #737070);
            font-family: e-Ukraine;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px; /* 153.846% */
    
            span {
                color: #340073;
                font-family: e-Ukraine;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                text-decoration-line: underline;
            }
        }
    }

    .select__items {
        display: flex;
    }


    .select__up {
        width: 100%;
        margin: 0;
    }

    .select__down {
        width: 100%;
        margin: 0;
    }

    .dash {
        display: flex;
        align-self: center;
        color: var(--new-text-grey, #737070);
        font-family: e-Ukraine;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        margin: 0 10px;
    }

    .filter {
        display: none;
    }

    .apply-wrp {
        display: flex;
    }

    .apply {
        width: 248px;
        margin: 0 40px 0 0;
    }
}

@media (min-width: 800px) {
    .left-block {
        margin: 0 0 20px;
        overflow: auto;
        flex: 1;

        &__wrp {
            width: 31%;
            margin-right: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .search {
        margin-bottom: 20px;

        &__title {
            margin-bottom: 20px;
        }
    }

    .select__up {
        margin-bottom: 12px;
    }


    .select__items {
        display: block;
    }

    .dash {
        display: none;
    }

    .apply {
        width: 100%;
        margin-bottom: 20px;

        &-wrp {
            display: block;
        }
    }

    .reset-wrp {
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) {
    .left-block__wrp{
        width: 40%;
    }

    .select__items {
        display: flex;
    }

    .dash {
        display: block;
    }

    .apply-wrp {
        display: flex;
    }

    .apply {
        width: 248px;
    }

    .select__up {
        margin: 0;
    }
}