@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine-Light'), local('e-Ukraine-Light'),
        url('e-Ukraine-Light.woff2') format('woff2'),
        url('e-Ukraine-Light.woff') format('woff'),
        url('e-Ukraine-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
    }